
body {
    background-image: url("images/greeenWallpeper.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.logo img:hover
{
	opacity: 0.8;
}

a.thumbnail {
    border-color: transparent;
    border-width: 12px;
    background-color: #89bdd3;
}
.navbar .navbar-collapse {
    text-align: center;
}

a.tilelink{
    background-color: #9ad3de;
    color:#000000;
    text-decoration: none;
    display: inline-block;
    margin: 20px;
}
a.thumbnail:hover
{
    border-style: solid;
    border-width: 12px;
    background-color: #9ad3de;
    text-decoration: none;
    opacity: 0.8
}
#firstAidTile:hover{
    border-color: greenyellow;
}
#fireSafetyTile:hover{
    border-color: red;
}
#hygieneTile:hover{
    border-color: deepskyblue;
}
#foodHygieneTile:hover {
    border-color: orange;
}
#accordion{
    background: greenyellow;
}
li {
    list-style: none;
}
.dropdown:hover .dropdown-menu {
display: block;
}
